/* colors */
:root {
    --primary-bg-color: #fff9ef;
    --primary-font-color: #04151F;
    --secondary-bg-color: #183A37;
    --header-color: #432534;
    --accent-color: #C44900;
}

/* fonts */
@font-face {
    font-family: 'lato';
    src: url(fonts/lato/regular-body.ttf);
}

@font-face {
    font-family: 'playfair-display';
    src: url(fonts/playfair-display/regular-headings.ttf);
}

/* everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: lato;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

/* navigation bar - "Recipe Book" */
header {
    background-color: var(--header-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    color: var(--primary-bg-color);
}

/* navigation bar - Menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: var(--primary-bg-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: var(--accent-color);
    transition: width 0.3s ease; 
}

nav ul li a:hover::after {
    width: 100%; 
}

/* hero */
.hero {
    background-image: url('images/hero-image.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: var(--primary-bg-color);
    position: relative;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.hero-text {
    position: relative;
    z-index: 2;

    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'playfair-display';
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* search */
.search-bar input[type="text"] {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

/* search button */
.search-bar button {
    padding: 10px 18px;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: var(--primary-bg-color);
    color: var(--accent-color);
    transition: 0.3s ease;
}

/* "Featured Recipes" */
.featured-recipes {
    padding: 50px;
    text-align: center;
}

.featured-recipes h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'playfair-display';
}

/* recipe cards */
.recipe-grid {
    display: flex;
    justify-content: space-between;
}

.recipe-card {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    color: var(--primary-bg-color);
    text-align: center;
    width: 30%;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* footer */
footer {
    background-color: var(--header-color);
    color: var(--primary-bg-color);
    padding: 20px;
}

footer .footer-links {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

footer .footer-links ul {
    list-style-type: none;
    padding: 0; 
}

footer .footer-links li {
    margin-bottom: 5px; 
}

footer .footer-links a {
    color: var(--primary-bg-color);
    text-decoration: none;
}

footer .footer-links a:hover {
    color: var(--accent-color);
    transition: 0.3s ease;
}

footer p {
    margin-top: 20px;
}